<div id="<%= dom_id book %>">
  <p>
    <strong>Mahs 251:</strong>
    <%= book.mahs_251 %>
  </p>

  <p>
    <strong>Hoten 251:</strong>
    <%= book.hoten_251 %>
  </p>

  <p>
    <strong>Lop 251:</strong>
    <%= book.lop_251 %>
  </p>

  <p>
    <strong>Msach 251:</strong>
    <%= book.msach_251 %>
  </p>

  <p>
    <strong>Tensach 251:</strong>
    <%= book.tensach_251 %>
  </p>

  <p>
    <strong>Tentacgia 251:</strong>
    <%= book.tentacgia_251 %>
  </p>

  <p>
    <strong>Sobm 251:</strong>
    <%= book.soBM_251 %>
  </p>

  <p>
    <strong>Ngaymuon 251:</strong>
    <%= book.ngaymuon_251 %>
  </p>

  <p>
    <strong>Ngaytra 251:</strong>
    <%= book.ngaytra_251 %>
  </p>

  <p>
    <strong>Ghichu 251:</strong>
    <%= book.ghichu_251 %>
  </p>

</div>
